footer {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        color: #202020;
        background-color: #fbc107;
        width: 150px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }
}

@media screen and (max-width: 950px) {
    footer {
        margin-top: 32px;

    }
}

.bottom {
    background-color: #202020;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    color: white;
    padding: 32px;
    flex-direction: column;

    h1 {
        margin-bottom: 0 !important;
        font-size: 16px !important;
    }

    p {
        margin: 0;
    }
}