<footer class="mt-auto w-full  py-10 px-4 sm:px-6 lg:px-8 mx-auto bg-blue-700">
    <div class="text-center max-w-[85rem]">
        <div>
            <a class="flex-none text-xl font-semibold text-white " href="#" aria-label="Brand">Taxi</a>
        </div>
        <div class="mt-3">
            <p class="text-white mt-4">
                Taxi Montpellier propose de nombreuses prestations aussi bien aux particuliers qu’aux
                entreprises pour leurs déplacements à Montpellier et ses alentours.
            </p>
            <p class="text-white mt-4">© Taxi. 2023Tout droit réservé.</p>
        </div>
        <div class="mt-3 space-x-2">
            <a class="inline-flex justify-center items-center w-10 h-10 text-center text-white mt-4 hover:text-blue-700 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition  mt-4 "
                href="#">
                <img class="w-3.5 h-3.5" src="./../../assets/icons/rs-1.svg" alt="">
            </a>
            <a class="inline-flex justify-center items-center w-10 h-10 text-center text-white mt-4 hover:text-blue-700 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition  mt-4 "
                href="#">
                <img class="w-3.5 h-3.5" src="./../../assets/icons/rs-2.svg" alt="">
            </a>
        </div>
    </div>
</footer>