<section id="clients">
    <div class="container">
        <div class="description">
            <h1 class="black">
                <span class="stroke">OUR </span> testimonials
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat

            </p>
        </div>
        <div class="slide-testimonial">
            <mdb-carousel [animation]="'fade'" [interval]="10000">
                <mdb-carousel-item>
                    <div class="duo">
                        <div class="testimonial">
                            <img src="./../../assets/slide1.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut.
                            </p>
                            <div class="trait"></div>
                            <p class="title">Testimonial #2</p>
                            <p class="designation">Designation</p>
                        </div>
                        <div class="testimonial second">
                            <img src="./../../assets/slide2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut.
                            </p>
                            <div class="trait"></div>
                            <p class="title">Testimonial #2</p>
                            <p class="designation">Designation</p>
                        </div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="duo">
                        <div class="testimonial">
                            <img src="./../../assets/slide3.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut.
                            </p>
                            <div class="trait"></div>
                            <p class="title">Testimonial #2</p>
                            <p class="designation">Designation</p>
                        </div>
                        <div class="testimonial second">
                            <img src="./../../assets/heroBackground.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut.
                            </p>
                            <div class="trait"></div>
                            <p class="title">Testimonial #2</p>
                            <p class="designation">Designation</p>
                        </div>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>

</section>