#hero {
    background-image: url(./../../assets/m3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    // animation: changeBackground 30s infinite;

    @keyframes changeBackground {

        0%,
        100% {
            background-image: url(./../../assets/m3.jpg);
        }

        31% {
            background-image: url(./../../assets/m3.jpg);
            /* Deuxième image */
        }

        33.33% {
            background-image: url(./../../assets/m1.webp);
            /* Deuxième image */
        }

        65% {
            background-image: url(./../../assets/m1.webp);
            /* Deuxième image */
        }

        66.66% {
            background-image: url(./../../assets/m2.jpg);
            /* Troisième image */
        }

        98% {
            background-image: url(./../../assets/m2.jpg);
            /* Troisième image */
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Couleur d'assombrissement semi-transparente */
    }

    .content {
        max-width: 900px;
        width: 100vw;

        .slogant {
            text-align: center;
            color: #d7b65d;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .title {
            text-align: center;
            color: white;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: -3.36px;
        }

        .description {
            text-align: center;
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;


        }
    }
}