<header>
    <nav>
        <section class="top">
            <img id="brand" src="./../../assets/logo.png" alt="">
            <div class="contact">
                <a href="#" class="instagram black">
                    <img src="./../../assets/icons/instagram.svg" alt=""> TAXI.ID
                </a>
                <a href="#" class="call black"> <img src="./../../assets/icons/phone.svg" alt=""> +666 6355 5437</a>
            </div>
        </section>
        <section class="bottom"></section>
    </nav>
</header>