.service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 40px;

    .container {
        max-width: 1140px;
        width: 100vw;
        display: flex;

        .image {
            width: 480px;
            height: 300px;
            object-fit: cover;
            margin-right: 64px;

            img {
                width: 480px;
                height: 300px;
                object-fit: cover;
            }
        }

        .description {
            color: white;
        }
    }
}