.scroll-content {
    animation: scroll-animation 200s linear infinite;
    margin-left: -150vw;
}

@keyframes scroll-animation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}