<div class="max-w-[85rem] px-4 pb-8 sm:px-6 lg:px-8 mx-auto pt-10 pb-8">
    <div class="max-w-xl mx-auto">
        <div class="text-center">
            <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">
                Nos clients
            </h1>
            <p class="mt-1 text-gray-900">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum impedit deserunt earum iure ex
                dicta!
            </p>
        </div>
    </div>
</div>
<div class=" flex justify-center items-center">
    <div class=" flex scroll-content">
        <div
            class="max-w-[30rem] min-w-[400px] w-full mx-8 my-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl ">
            <div class="flex-auto p-4 md:p-6">
                <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl "><em>
                        "J'ai utilisé ce service de taxi lors de mon séjour à Montpellier, et j'ai été impressionnée par
                        la ponctualité du chauffeur et la propreté du véhicule. Je recommande vivement !"
                    </em></p>
            </div>

            <div class="p-4 rounded-b-xl md:px-6">
                <h3 class="text-sm font-semibold text-gray-800 sm:text-base ">
                    Sophie Martin
                </h3>
                <p class="text-sm text-gray-500">
                    2 août 2023
                </p>
            </div>
        </div>
        <div
            class="max-w-[30rem] min-w-[400px] w-full mx-8 my-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl ">
            <div class="flex-auto p-4 md:p-6">

                <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl "><em>
                        "Un service de taxi exceptionnel à Montpellier ! Le chauffeur était courtois et le trajet s'est
                        déroulé sans aucun problème. Je ferai appel à eux lors de mon prochain voyage."
                    </em></p>
            </div>

            <div class="p-4 rounded-b-xl md:px-6">
                <h3 class="text-sm font-semibold text-gray-800 sm:text-base ">
                    Josh Tyson
                </h3>
                <p class="text-sm text-gray-500">
                    05 juillet 2023
                </p>
            </div>
        </div>
        <div
            class="max-w-[30rem] min-w-[400px] w-full mx-8 my-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl ">
            <div class="flex-auto p-4 md:p-6">

                <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl "><em>
                        "J'ai été agréablement surprise par la qualité du service de ce taxi. Le chauffeur était
                        sympathique et m'a même recommandé quelques endroits à visiter à Montpellier. Une expérience
                        client vraiment positive."
                    </em></p>
            </div>

            <div class="p-4 rounded-b-xl md:px-6">
                <h3 class="text-sm font-semibold text-gray-800 sm:text-base ">
                    Luisa
                </h3>
                <p class="text-sm text-gray-500">
                    20 mai 2023
                </p>
            </div>
        </div>
        <div
            class="max-w-[30rem] min-w-[400px] w-full mx-8 my-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl ">
            <div class="flex-auto p-4 md:p-6">

                <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl "><em>
                        "Le meilleur taxi que j'ai utilisé à Montpellier jusqu'à présent. Le chauffeur était
                        professionnel et le véhicule était propre et bien entretenu. Je les recommande chaudement."
                    </em></p>
            </div>

            <div class="p-4 rounded-b-xl md:px-6">
                <h3 class="text-sm font-semibold text-gray-800 sm:text-base ">
                    Thomas Bertrand
                </h3>
                <p class="text-sm text-gray-500">
                    08 avril 2023
                </p>
            </div>
        </div>
        <div
            class="max-w-[30rem] min-w-[400px] w-full mx-8 my-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl ">
            <div class="flex-auto p-4 md:p-6">

                <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl "><em>
                        "Rapide et fiable ! J'ai réservé ce taxi pour me rendre à la gare de Montpellier et j'ai été
                        satisfait de la ponctualité et du confort du trajet. Je les choisirai à nouveau."
                    </em></p>
            </div>

            <div class="p-4 rounded-b-xl md:px-6">
                <h3 class="text-sm font-semibold text-gray-800 sm:text-base ">
                    milie Lefebvre
                </h3>
                <p class="text-sm text-gray-500">
                    17 mars 2023
                </p>
            </div>
        </div>
        <div
            class="max-w-[30rem] min-w-[400px] w-full mx-8 my-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl ">
            <div class="flex-auto p-4 md:p-6">

                <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl "><em>
                        "Un service de taxi de confiance à Montpellier. Le chauffeur était aimable et le trajet s'est
                        déroulé sans accroc. Je les remercie pour leur excellent service."
                    </em></p>
            </div>

            <div class="p-4 rounded-b-xl md:px-6">
                <h3 class="text-sm font-semibold text-gray-800 sm:text-base ">
                    Julien Renaud
                </h3>
                <p class="text-sm text-gray-500">
                    02 février 2023
                </p>
            </div>
        </div>
    </div>
</div>