#services {
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url(../../assets/darkBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;


    .title {
        padding: 64px 32px;
        display: flex;
        max-width: 900px;
        width: 100vw;
        align-items: center;
        justify-content: space-between;

        .stroke {
            -webkit-text-stroke-color: white;
            stroke: white;
            font-size: 64px;
        }

        p {
            color: white;
            max-width: 460px;
        }
    }
}