<section id="services" class="mt-16">
    <div class="max-w-xl mx-auto" class="imageContainer rounded-xl" data-aos="zoom-in-down">
        <div class="text-center">
            <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">
                Nos services
            </h1>
            <p class="mt-1 text-gray-600">
                Voici une liste de nos services
            </p>
        </div>
    </div>
    <app-service [image]="'./../../assets/images/Aeroport-Montpellier-Mediterranee-480x320.webp'"
        [bookText]="'Reserver un taxi pour l\'a\éroport'" [title]="'Transfert aéroport'"
        [description]="'Si vous avez un vol \à prendre ou si vous atterrissez \à l’aéroport Montpellier Méditerranée,réservez votre taxi et oubliez retard, parking et conduite. 24h/24 et 7j/7 sur réservation, nos chauffeurs vous prennent en charge avec sérieux et professionnalisme \à bord de véhicules récents et confortables pour vous amener ou vous récupérer \à l’hôtel de votre choix, votre bureau, votre domicile, ou celui d’un proche, \à Montpellier ou dans une ville dans les alentours.'">
    </app-service>

    <app-service-dark [image]="'./../../assets/images/colis-300x169.jpg'" [bookText]="'Resver un transport de colis'"
        [title]="'Transport de colis'"
        [description]="'Pour vos colis urgents, de valeur, fragiles ou confidentiels, n’hésitez pas \à faire appel \à Allo Taxi Montpellier. Nous prendrons en charge leur livraison quelle que soit la destination.'">
    </app-service-dark>

    <app-service [image]="'./../../assets/images/promenade-peyrou-montpellier-1-300x169.jpg'"
        [bookText]="'Reserver un taxi touristique'" [title]="'Circuits Touristiques'"
        [description]="'Vous êtes de passage ou vous êtes en vacances et vous souhaitez découvrir la ville de Montpellier et les alentours ? Découvrez la région \à bord d’un de nos taxis avec des chauffeurs qui connaissent parfaitement leur ville et ses bons plans. Nous vous guideront en suivant un parcours convenu en appréciant la visite \à votre rythme, avec la liberté d’improviser \à tout moment, loin des attractions pour touristes bondés ou des voyages de groupe \à marche forcée. Parmi les sites \à visiter on peut trouver : La promenade du Peyrou, Le centre ville de Montpellier, La cathédrale Sainte Anne…'">
    </app-service>
    <app-service-dark [image]="'./../../assets/images/Vins-fete.webp'" [bookText]="'Reserver pour une soirée'"
        [title]="'Votre Capitaine Sam garanti'"
        [description]="'Vous avez une soirée ou une rencontre et elle risque d’être arrosée ? Plus besoin de jouer \à pile ou face pour savoir qui va se sacrifier pour endosser le rôle du Capitaine Sam. Plus besoin de se préoccuper du parking ou de l’heure du dernier tram. Réservez votre chauffeur et il vient vous prendre, vous dépose \à l’adresse que vous lui aurez indiqué et vient vous récupérer \à l’heure prévue pour vous ramener \à l’hôtel, \à votre domicile ou chez vos proches.'">
    </app-service-dark>
    <app-service [image]="'./../../assets/images/gare-sncf-tgv-montpellier-300x170.webp'"
        [bookText]="'Reserver pour aller \à la gare'" [title]="'Transfert gare TGV'"
        [description]="'Vous avez un train \à prendre \à la gare SNCF TGV de Montpellier Sud de France ? Ou vous arrivez \à la gare \à bord d’un train ? La gare TGV étant mal desservie par les transports en commun, réservez votre taxi pour voyager sereinement, sans avoir \à penser au stationnement au parking, aux retards, aux problèmes de circulation etc… Nos chauffeurs assurent la liaison avec la gare Saint Roch et vous prennent en charge \à domicile, \à l’hôtel ou \à votre bureau'">
    </app-service>
    <app-service-dark [image]="'./../../assets/images/taxi-mariage-300x170.webp'"
        [bookText]="'Reserver un vehicule \à chauffeur'" [title]="'Véhicule avec chauffeur'"
        [description]="'Vous avez besoin d’un taxi avec chauffeur pour un mariage, un évènement religieux,d’entreprise ou familial ? Réservez votre taxi et célébrez les meilleurs moments en toute liberté avec nos belles voitures et le professionnalisme de nos chauffeurs'">
    </app-service-dark>

    <app-service [image]="'./../../assets/images/taxi-business-man-300x200.webp'" [bookText]="'Reserver un pro'"
        [title]="'Services aux professionnels'"
        [description]="'Qu’il s’agisse de l’accueil de collaborateurs ou de visiteurs ou de leur transport jusqu’\à 7 personnes, notre compagnie met \à disposition sa flotte de chauffeurs expérimentés au service de votre efficacité. Grâce \à l’application de réservation, votre facture est disponible dans votre espace juste après votre course. Un contrat avec facturation mensuelle peut aussi être mise en place pour une collaboration perenne.'">
    </app-service>
    <app-service-dark [image]="'./../../assets/images/taxi-lingu-distance-480x320.webp'"
        [bookText]="'Reserver pour un voyage'" [title]="'Transport longue distance'"
        [description]="'Le taxi long trajet est une alternative au voyage en train ou en avion qui gagne en popularité. Il permet au(x) voyageur(s) de voyager dans l’intimité, sans attente ni mauvaises surprises (retards, grèves…) tout en bénéficiant de tarifs compétitifs. Seul ou en groupe jusqu’\à 7 personnes, sur devis, nos meilleurs chauffeurs sont \à votre service pour vos trajets grandes distances \à partir de Montpellier :Montpellier – Marseille, Montpellier – Toulouse, Montpellier – Nimes, Montpellier – Béziers, Montpellier – Perpignan, Montpellier – Narbonne…'">
    </app-service-dark>

</section>