<section id="slider">
    <div class="content">
        <div class="text" data-aos="zoom-in">
            <h1 class="black">All about the taxi drive</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis,
                pulvinar dapibus.</p>
        </div>
        <div class="slider-taxi" data-aos="zoom-in">
            <mdb-carousel [controls]="true" [animation]="'slide'" [interval]="5000">
                <mdb-carousel-item>
                    <img src="./../../assets/slide1.jpg" class="d-block w-100" alt="..." />
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <img src="./../../assets/slide3.jpg" class="d-block w-100" alt="..." />
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <img src="./../../assets/slide2.jpg" class="d-block w-100" alt="..." />
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</section>