<section id="safety">
    <div class="container">
        <div class="hand" data-aos="zoom-in">
            <img src="./../../assets/hand.png" alt="">

        </div>
        <div class="right">
            <h1 class="black stroke" data-aos="zoom-in">TAXI MAKES YOU</h1>
            <h1 class="black bottom" data-aos="zoom-in">FEEL LIKE YOU ARE SAFE</h1>
            <P data-aos="zoom-in">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                ullamcorper mattis,
                pulvinar dapibus leo.</P>
            <div class="safeMark" data-aos="zoom-in">
                <div class="safety">
                    <img src="./../../assets/icons/safety.svg" alt="">
                    <h2 class="black">safety first</h2>
                    <p>Lorem ipsum dolor amet consectetur</p>
                </div>
                <div class="trusted" data-aos="zoom-in">
                    <img src="./../../assets/icons/trusted.svg" alt="">
                    <h2 class="black">trusted</h2>
                    <p>Lorem ipsum dolor amet consectetur</p>
                </div>
            </div>
        </div>
    </div>
</section>