<div class="text-center modal">
    <div id="hs-task-created-alert"
        class=" w-full h-screen fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto">
        <div
            class="mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
            <div class="relative flex flex-col bg-white shadow-lg rounded-xl">
                <div class="absolute top-2 right-2">
                    <button type="button"
                        class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition-all text-sm"
                        data-hs-overlay="#hs-task-created-alert">
                        <span class="sr-only">Close</span>

                        <img class="w-3.5 h-3.5" src="./../../assets/icons/close.svg" alt="">
                    </button>
                </div>

                <div class="p-4 sm:p-10 text-center overflow-y-auto">

                    <h3 class="mb-2 text-xl font-bold text-gray-800">
                        Réservez votre taxi
                    </h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, in iusto aliquam repellat
                        nisi itaque!
                    </p>
                    <br>
                    <a href="tel:+33467154685" class="text-3xl font-bold text-gray-800 sm:text-4xl CTA">
                        +33 4 67 15 46 85
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>